<section>
	<header>
		<h3>Ordrar</h3>
	</header>

	<div class="inner">
		<table id="orders">
			<thead>
				<tr>
					<th class="unique_id">Order id.</th>
					<th class="recipient">Beställare</th>
					<th class="amount_phones">Antal telefoner</th>
					<th class="amount_sims">Antal sim-kort</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="unique_id">1</td>
					<td class="recipient">John Doe</td>
					<td class="amount_phones">10</td>
					<td class="amount_sims">10</td>
				</tr>
				<tr>
					<td class="unique_id">2</td>
					<td class="recipient">Jane Doe</td>
					<td class="amount_phones">20</td>
					<td class="amount_sims">20</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>