<section>
	<header>
		<h3>Identiteter</h3>
	</header>

	<div class="inner">
		<article class="user">
			<div class="avatar"></div>

			<div class="details">
				<h4>John Doe</h4>
				<h5>Role</h5>
				<a href="#">Visa profil</a>
			</div>

		</article>

		<article class="user">
			<div class="avatar"></div>
			<div class="details">
				<h4>John Doe</h4>
				<h5>Role</h5>
				<a href="#">Visa profil</a>
			</div>
		</article>

		<article class="user">
			<div class="avatar"></div>
			<div class="details">

				<h4>John Doe</h4>
				<h5>Role</h5>
				<a href="#">Visa profil</a>

			</div>
		</article>

		<article class="user">
			<div class="avatar"></div>
			<div class="details">
				<h4>John Doe</h4>
				<h5>Role</h5>
				<a href="#">Visa profil</a>
			</div>
		</article>

		<article class="user">
			<div class="avatar"></div>

			<div class="details">
				<h4>John Doe</h4>
				<h5>Role</h5>
				<a href="#">Visa profil</a>
			</div>

		</article>
	</div>
</section>
